doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title Nerdcampus - Konstruktive Hochschulgruppe
        link(href="./styles/style.css", rel="stylesheet")
    body
        div(class="navbar mb-2 shadow-lg bg-green-700 text-neutral-content")
            a(class="flex-1 px-2 mx-2 btn btn-ghost" href="/")
                span(class="text-lg font-bold") Nerdcampus
            div(class="flex-none")
            a(class="btn btn-ghost" href="/wahl") Wahlformular
            a(class="btn btn-ghost" href="/imprint") Impressum
        div(class="container w-full sm:w-11/12 md:w-10/12 lg:w-9/12 xl:w-8/12 mx-auto")
            block content
