doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title Kreative Liste in der Mathematik und Informatik
        link(href="./styles/style.css", rel="stylesheet")
    body
        div(class="navbar mb-2 shadow-lg bg-blue-800 text-neutral-content")
            a(class="flex-1 px-2 mx-2 btn btn-ghost")
                span(class="text-lg font-bold") Kreative Liste  -&nbsp;
                i(class="text-lg")  Mathematik, Informatik, Data Science
            div(class="flex-none")
            a(class="btn btn-ghost" href="/imprint") Impressum
        div(class="container w-full sm:w-11/12 md:w-10/12 lg:w-9/12 xl:w-8/12 mx-auto")
            div(class="alert alert-info")
                div(class="flex-1")
                    svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current")
                        path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z")
                    label
                        p Indem du hier Daten angibst, füllst du folgende Formulare an den jeweiligen Stellen aus und gibst sie ab:
                        ul(class="list-disc list-inside py-1")
                            li
                                a(class="underline" href="https://www.uni-goettingen.de/de/wahlvorschlagsformular+%28excel%29+%2810/2020%29/18179.html") Wahlvorschlagsformular je nur eine Zeile
                            li
                                a(class="underline" href="https://www.uni-goettingen.de/de/einverst%c3%a4ndniserkl%c3%a4rung+%28word%29+%2810/2020%29/127181.html") Einverständniserklärung
            form(class="mt-4", method="post", action="/submit")
                div(class="grid lg:grid-cols-2 gap-3")
                    label(class="input-group flex")
                        span(class="label-text flex-none") Vorname
                        input(type="text" name="firstname" class="input input-bordered flex-auto" placeholder="Vorname")
                    label(class="input-group flex")
                        span(class="label-text flex-none") Nachname
                        input(type="text" name="lastname" class="input input-bordered flex-auto" placeholder="Nachname")
                    label(class="input-group flex")
                        span(class="label-text flex-none") Fakultät
                        //input(type="text" name="faculty" class="input input-bordered flex-auto" placeholder="z.B. Mathematik und Informatik")
                        select(name="faculty" class="select select-bordered flex-auto")
                            option(disabled="disabled") Wähle deine Fakultät
                            option(selected="selected") Fakultät für Mathematik und Informatik
                            option(disabled="disabled") Fakultät für Physik
                            option(disabled="disabled") Fakultät für Agrarwissenschaften
                            option(disabled="disabled") Fakultät für Biologie und Psychologie
                            option(disabled="disabled") Fakultät für Chemie
                            option(disabled="disabled") Fakultät für Forstwissenschaften und Waldökologie
                            option(disabled="disabled") Fakultät für Geowissenschaften und Geographie
                            option(disabled="disabled") Juristische Fakultät
                            option(disabled="disabled") Sozialwissenschaftliche Fakultät
                            option(disabled="disabled") Wirtschaftswissenschaftliche Fakultät
                            option(disabled="disabled") Philosophische Fakultät
                            option(disabled="disabled") Theologische Fakultät
                    label(class="input-group flex")
                        span(class="label-text flex-none") Geburtsdatum
                        input(type="text" name="birth" class="input input-bordered flex-auto" placeholder="TT.MM.YYYY")
                    label(class="input-group flex")
                        span(class="label-text flex-none") Matrikelnummer
                        input(type="text" name="matrikel" class="input input-bordered flex-auto" placeholder="Nr.")
                    label(class="input-group flex")
                        span(class="label-text flex-none") Straße
                        input(type="text" name="str" class="input input-bordered flex-auto" placeholder="Straße")
                    label(class="input-group flex")
                        span(class="label-text flex-none") Postleitzahl
                        input(type="text" name="plz" class="input input-bordered flex-auto" placeholder="z.B. 37075")
                    label(class="input-group flex")
                        span(class="label-text flex-none") Ort
                        input(type="text" name="ort" class="input input-bordered flex-auto" placeholder="z.B. Göttingen")
                    label(class="input-group flex")
                        span(class="label-text flex-none") stud. E-Mail
                        input(type="text" name="email" class="input input-bordered flex-auto" placeholder="@stud.uni-goettingen.de")
                div(class="grid lg:grid-cols-2 gap-2")
                    each liste in listen
                        label(class="cursor-pointer label space-x-2")
                            input(type="checkbox" class="checkbox w-6" name=liste.name value="yes")
                            span(class="label-text")
                                span Ich möchte mich hiermit auf die Liste
                                =" "
                                i= liste.liste
                                =" "
                                span für
                                =" "
                                span= liste.gremium
                                =" "
                                span schreiben.
                button(type="submit" class="btn btn-lg bg-blue-800") Absenden