@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1 {
        @apply text-4xl mt-4 mb-2;
    }
    h2 {
        @apply text-3xl mt-3 mb-1.5;
    }
    h3 {
        @apply text-2xl mt-2 mb-1;
    }
}
